* {
    margin: 0;

    padding: 0;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity:0.7;


}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(133, 25, 133);
    height: 5vh;
}

ul{
    display: flex;
    flex-flow: row wrap;
}
.logo{
    font-size:50px;
    text-transform:uppercase;
    letter-spacing:4px;
    position: absolute;
    left: 5%;
    top: -1%;
    cursor: pointer;
}
body{
    background-image: linear-gradient(to right, purple, rgb(100, 127, 168));
    font-family: Arial, Helvetica, sans-serif;
   

  

}
div{
    background-color: rgba(180, 29, 175, 70);
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    padding: 60px;
    border-radius: 40px;
    color: rgb(255, 240, 252);
    padding: 85px;

}
input{
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(8, 8, 8);
    outline: none;
}
button{
    border: none;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    background-color: black;
    color: aliceblue;
    cursor: pointer;
}
h1{
    left: 70%;
}
p{
    position: absolute;
    top: 11%;
    left: 4%;
    font-size: 60px;
    font-style: italic;
    font-weight: 800;
    color: aliceblue;
    
  /* fundo gradiente */
  background-image: linear-gradient(to right, #ffffff, #3a88e2);
  /* agora colocamos o fundo gradiente dentro do texto com essa propriedade */
    background-clip: text;
    -webkit-background-clip: text;
  /* a cor do texto deve estar como transparent */
    color: transparent;
    
    
}
img{
    margin-top: 225px;
    max-height: 800px;
    max-width: 800px;
    margin-left: 90px;
    position: fixed;
    opacity: 0.3;
    
}
.seta{
    margin-left: 10%;
    margin-top: 10%;
}

    
