* {
    margin: 0;

    padding: 0;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity:0.7;


}
.a_login{
    margin-left: 12%;
    color: rgb(168, 64, 216);
}
body{
    font-family: sans-serif;
    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(224, 221, 224);
    height: 7vh;
    
}

ul{
    display: flex;
    flex-flow: row wrap;
}
li{
    list-style-type: none;
}

.logo{
    font-size:50px;
    text-transform:uppercase;
    letter-spacing:4px;
    position: absolute;
    margin-right: 90%;
    cursor: pointer;
}
#container{
    display: flex;
    justify-content: space-around;
}
input{
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    height: 80px;
    width: 400px;
}
.btEnviar{
    border-bottom: none;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}
#parte_esquerda{
    background-image: linear-gradient(rgb(136, 45, 211), rgb(163, 120, 204));
    margin-left: -14%;
    width: 110vh;
}
#imgRegistro{
    height: 700px;
    width: 700px;
    margin-left: 15%;
    margin-top: 15%;
}
.tela{
    margin-left: -89%;
    border: solid;
    height: 93vh;
    border-top: none;
    border-right: none;
    border-bottom: none;
    
}

#form1{
    margin-left: 20%;
}